body{
    margin: 0px;
    padding: 0px;
}
#divTong {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.background {

    background-color: #4f4f39;
    height: 55px;
    padding: 0px;
}
h1 {
    margin: 0px;
    padding-top:5px;
    color: #FFFFFF;
    text-align: center;
    height: 55px;
    font-size: 40px;

}
#menu {
    width: auto;
    background-color: #000000;
    display: flex;
    height: 50px;

    margin: 0px;
}
#menu1 {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
}
#menu2 {
    display: flex;
    justify-content: right;
    float: right;
    width: 100%;

    /*padding-right: 0px;*/
    /*margin-right: 0px;*/
}
ul {
    margin: 0px;
    display: flex;
}
li {
    color: white;
    list-style-type: none;
    margin-left: 30px;
}
a {
    text-align: center;
    text-decoration: none;
    color: white;
    height: 50px;
}
a:hover {
    color: #c23e57;
}
input {
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#dangnhap {
    font-size: medium;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#dangnhap:hover {
    color: #e30530;
}
#menu1v1 {
    padding-top: 18px;
    display: none;
}

#ulMenu1 li ul {
    padding-top: 4px;
    display: none;
}

#ulMenu1 li ul li {
    border-bottom: 1px solid #9a6363;
    text-align: left;
    width: 150px;
    background-color: #261717;
    padding-left:0px;
    padding-top: 10px;
    list-style-type: none;
    color: #f1f3f6;
    margin-left: -20px;
}

#ulMenu1 li:hover>ul{
    display: block;
}
#menu1v2 {

}
#liDanhSach2:hover ~ #menu1v2 {
    display: block;}

#menu1v2 li {
    border-bottom: 1px solid #a13030;
    text-align: left;
    width: 150px;
    background-color: #833543;
    padding-left:0px;
    padding-top: 10px;
    list-style-type: none;
    color: #f1f3f6;
}
#menu1v2 li:hover {
    border-bottom: 1px solid #eae7e7;
}
body {
    background-image: url("../pictures/anh_nen/fontDep.jpeg");
    background-size: cover;
    background-position-y: -50px;
}

#ulMenu1 li ul li {
    margin-left: -40px;
}

#ulMenu1 li ul li:hover {
    border-bottom: 1px solid #f8f5f5;
}
/*phần thân bài*/
#nutXem {
    padding-top: 200px;
    text-align: center;
}
#nutXem a button {
    height: 200px;
    width: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #95c0c0;
    font-size: 50px;
    color: #FFFFFF;

}
